// Declaration of colors
$primary-color: #123C69;
$pure-color: #FFFFFF;
$secondary-color: #AC3B61;
$ternary-color: #EEE2DC;
$muted-text: #838383;
$extra-muted-text: #f8f8f8;

// Declaration of fonts and Weights
$font-bold: bold;
$font-medium: 600;
$font-normal: 300;