@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import './common/NavigationBar.scss';
@import './common/Footer.scss';
@import './home/wdp.scss';
@import './home/home.scss';
@import './account/Account.scss';
@import './account/MyProfile.scss';
@import './account/notifications.scss';
@import './account/YourHired.scss';
@import './common/login.scss';
@import './adminSection/AdminSection.scss';
@import './adminSection/adminProfile/AdminProfile.scss';
@import './adminSection/adminSettings/AdminSettings.scss';
@import './wlp/Wlp.scss';


/** Bold fonts **/
@font-face {
    font-family: 'PoppinsBold';
    src: url('../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'PoppinsSemiBoldItalic';
    src: url('../assets/fonts/Poppins-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'PoppinsExtraBoldItalic';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'PoppinsMediumItalic';
    src: url('../assets/fonts/Poppins-MediumItalic.ttf');
}
@font-face {
    font-family: 'PoppinsThin';
    src: url('../assets/fonts/Poppins-Thin.ttf');
}

.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.black-line {
    width: 100%;
    border-bottom: 1px solid #000000;
    padding: 0.4rem 0;
}