@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import './common/NavigationBar.scss';
@import './common/Footer.scss';
@import './home/wdp.scss';
@import './account/Account.scss';
@import './account/MyProfile.scss';
@import './account/notifications.scss';
@import './account/YourHired.scss';

.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.black-line {
    width: 100%;
    border-bottom: 1px solid #000000;
    padding: 0.4rem 0;
}