@import "../../ColorsAndFonts.scss";

.admin-section {
  .admin-cnt {
    padding: 0 1rem;
    .admin-profile-main-title {
      font-size: 1.6rem;
      color: $dark-color;
      font-weight: $font-bold;
    }
    .admin-profile-update-title {
      font-size: 1.4rem;
      color: $dark-color;
      font-weight: $font-medium;
      padding: 0.8rem 0;
    }
    .admin-update-btn {
      width: 200px;
      height: 40px;
      border-radius: 0;
      background-color: $primary-color;
      color: $pure-color;
      margin: 1rem 0;
      &:hover {
        background-color: $primary-color;
        color: $pure-color;
      }
    }
  }
}

@media (max-width: 700px) {
    .account-cnt {
        .profile-cnt {
            padding: 0;
            .update-btn {
                width: 100%;
            }
        }
    }
}
