@import '../ColorsAndFonts.scss';

.nav-bar-cnt {
    width: 100%;
    height: 4rem;
    background-color: $primary-color;
    color: $pure-color;
    padding: 0 1rem;
    .nav-all-workers {
        text-align: center;
        font-size: 1rem;
        color: $pure-color;
        font-family: PoppinsMedium;
        cursor: pointer;
        &:hover {
            color: #838383;
        }
    }
    .nav-logo {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: PoppinsBold;
        cursor: pointer;
    }
    .menu-icon {
        margin-right: 1rem;
        font-size: 40px;
        cursor: pointer;
    }
    .nav-icons-cnt {
        justify-content: flex-end;
        .nav-icons-cnt-1 {
            width: 80px;
            text-align: center;
            cursor: pointer;
            .nav-icons {
                font-size: 1.2rem;
            }
            &-text {
                color: $pure-color;
                text-align: center;
                font-family: PoppinsRegular;
            }
        }
    }
}

@media (max-width: 700px) {
    .nav-bar-cnt {
        .menu-icon {
            font-size: 40px;
        }
        .nav-icons-cnt {
                .nav-icons-cnt-1 {
                    width: auto;
                    margin-left: 1rem;
                }
        }
    }
}