@import '../ColorsAndFonts.scss';
.account-cnt {
    .notifications-cnt {
        padding: 0 1rem;
        .notifications-main-title {
            font-size: 1.8rem;
            color: $dark-color;
            font-family: PoppinsBold;
        }
        .notifications-subtitle {
            font-size: 1.4rem;
            color: $dark-color;
            font-family: PoppinsMedium;
            padding: 0.8rem 0;
        }
    }
}