.wlp-cnt {
    padding: 1rem;
    .wlp-main-title {
        text-align: center;
        padding-top: 2rem;
        font-size: 2rem;
        font-family: PoppinsBold;
    }
    .total-count {
        color: #838383;
        font-family: PoppinsMedium;
    }
}