.wlp-cnt {
  padding: 1rem;
  .wlp-main-title {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-family: PoppinsBold;
  }
  .total-count {
    color: #838383;
    font-family: PoppinsMedium;
  }
  .card-cnt {
    background: cyan;
    width: 19%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 1rem;
    &:hover {
      box-shadow: 2px 2px 8px #838383, -2px -2px 8px #838383;
    }
    &-inner {
      width: auto;
      height: 80vh;
      background: #f8f8f8;
      &-div {
        &-img {
          width: 100%;
          height: 250px;
          object-fit: scale-down;
          mix-blend-mode: darken;
        }
      }
    }
  }
}

@media (max-width: 778px) {
  .wlp-cnt {
    .card-cnt {
      width: 48%;
      height: 300px;
      &-inner {
        &-div {
            &-img { height: 200px;}
        }
      }
    }
  }
}
@media (min-width: 900px) {
  .wlp-cnt {
    .card-cnt {
      width: 19%;
    }
  }
}
